/* line 1, ../sass/style.scss */
/* line 2, ../sass/style.scss */
body {
  font-family: 'Pompiere', Arial;
  color: #3E3F3D;
}

/* line 7, ../sass/style.scss */
.alert {
  background: #D4EDF0;
}

/* line 11, ../sass/style.scss */
.background {
  background: url("../images/photos/parallax/intro.jpg") no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/* line 19, ../sass/style.scss */
#main {
  z-index: 1;
}

/* line 23, ../sass/style.scss */
#scroll-clock {
  right: 20px;
  top: 100px;
  z-index: 2000;
  position: absolute;
}
/* line 29, ../sass/style.scss */
#scroll-clock #clock-background {
  background: url("../images/scroll-clock/dani-and-nick-clock/clock.png");
  height: 120px;
  width: 120px;
  position: relative;
}
/* line 36, ../sass/style.scss */
#scroll-clock #hour-hand {
  position: absolute;
  left: 50%;
  top: 30px;
}
/* line 42, ../sass/style.scss */
#scroll-clock #minute-hand {
  position: absolute;
  left: 50%;
  top: 16px;
}
/* line 48, ../sass/style.scss */
#scroll-clock.fixed {
  position: fixed;
  top: 20px;
}

/* line 18, ../sass/style.scss */
/* line 55, ../sass/style.scss */
.section {
  padding-top: 100px;
  background: #fff;
  height: 525px;
}

/* line 61, ../sass/style.scss */
.scroller-main {
  height: 500px;
  background: url("../images/photos/parallax/trees.jpg") no-repeat 50% -130px;
}

/* line 66, ../sass/style.scss */
#intro-scroller-main {
  background: url("../images/photos/parallax/intro.jpg") no-repeat 50% -130px;
  margin-top: 35px;
}

/* line 71, ../sass/style.scss */
#the-church-scroller-main {
  background: url("../images/photos/parallax/grass.jpg") no-repeat 50% -130px;
}

/* line 75, ../sass/style.scss */
#the-ceremony-scroller-main {
  background: url("../images/photos/parallax/mews.jpg") no-repeat 50% -130px;
}

/* line 79, ../sass/style.scss */
#gorse-hill-scroller-main {
  background: url("../images/photos/parallax/gorse-hill.jpg") no-repeat 50% -130px;
}

/* line 83, ../sass/style.scss */
.section#intro {
  background: url("../images/photos/parallax/intro.jpg") no-repeat 50% 60px;
  height: 850px;
}

/* line 88, ../sass/style.scss */
.section#the-wedding-breakfast {
  height: 900px;
}
/* line 91, ../sass/style.scss */
.section#the-wedding-breakfast h2 {
  height: 45px;
  text-indent: -1000px;
  background: url("../images/header_sprites.png") no-repeat;
  margin: 20px 0;
}
/* line 99, ../sass/style.scss */
.section#the-wedding-breakfast #menu li {
  font-size: 22px;
}
/* line 104, ../sass/style.scss */
.section#the-wedding-breakfast #starter h2 {
  background-position: 0 -490px;
}
/* line 108, ../sass/style.scss */
.section#the-wedding-breakfast #main h2 {
  background-position: 0 -645px;
}
/* line 112, ../sass/style.scss */
.section#the-wedding-breakfast #dessert h2 {
  background-position: 0 -790px;
}

/* line 117, ../sass/style.scss */
.section#accommodation {
  height: 800px;
}
/* line 120, ../sass/style.scss */
.section#accommodation h2 {
  height: 45px;
  text-indent: -1000px;
  background: url("../images/header_sprites.png") no-repeat;
  margin: 20px 0;
}
/* line 127, ../sass/style.scss */
.section#accommodation #mansion-house h2 {
  background-position: 0 -445px;
}
/* line 131, ../sass/style.scss */
.section#accommodation #the-courtyard h2 {
  background-position: 0 -690px;
}
/* line 135, ../sass/style.scss */
.section#accommodation #the-lodge h2 {
  background-position: 0 -745px;
}

/* line 140, ../sass/style.scss */
.section#rsvp {
  height: 1200px;
}
/* line 143, ../sass/style.scss */
.section#rsvp #rsvp-form {
  font-size: 22px;
  margin-top: 30px;
}
/* line 147, ../sass/style.scss */
.section#rsvp #rsvp-form input {
  font-size: 20px;
}
/* line 151, ../sass/style.scss */
.section#rsvp #rsvp-form #optional-sections {
  display: none;
  margin-top: 40px;
}
/* line 156, ../sass/style.scss */
.section#rsvp #rsvp-form #form-group-starter {
  margin-top: 40px;
}
/* line 160, ../sass/style.scss */
.section#rsvp #rsvp-form button {
  background: #D4EDF0;
  font-size: 22px;
}
/* line 165, ../sass/style.scss */
.section#rsvp #rsvp-form #thankyou, .section#rsvp #rsvp-form #sorry, .section#rsvp #rsvp-form #error {
  display: none;
}
/* line 169, ../sass/style.scss */
.section#rsvp #rsvp-form #add-rsvp {
  display: none;
}

/* line 22, ../sass/style.scss */
/* line 29, ../sass/style.scss */
/* line 177, ../sass/style.scss */
.section-image {
  margin-bottom: 30px;
}

/* line 181, ../sass/style.scss */
.section#the-day-before {
  height: 675px;
  position: relative;
}

/* line 186, ../sass/style.scss */
.section#the-church {
  height: 875px;
}
/* line 189, ../sass/style.scss */
.section#the-church .map-canvas {
  width: 100%;
  height: 400px;
}

/* line 195, ../sass/style.scss */
.section#gorse-hill {
  height: 675px;
}

/* line 199, ../sass/style.scss */
.map-canvas {
  width: 100%;
  height: 400px;
}

/* line 33, ../sass/style.scss */
/* line 205, ../sass/style.scss */
.navbar {
  background: #D4EDF0;
  border-bottom: 0px;
}

/* line 38, ../sass/style.scss */
/* line 211, ../sass/style.scss */
.navbar a {
  font-size: 16pt;
  color: #333;
}

/* line 43, ../sass/style.scss */
/* line 217, ../sass/style.scss */
.navbar-nav li a {
  padding: 20px;
  color: #333333;
}

/* line 48, ../sass/style.scss */
/* line 223, ../sass/style.scss */
.navbar-nav > li > a:hover {
  background: #F3F3F3;
}

/* line 52, ../sass/style.scss */
/* line 228, ../sass/style.scss */
.navbar-nav li.active a {
  color: #333333;
  background-color: white;
}

/* line 57, ../sass/style.scss */
/* line 234, ../sass/style.scss */
.navbar-nav li.open a.dropdown-toggle {
  background-color: white;
}

/* line 61, ../sass/style.scss */
/* line 239, ../sass/style.scss */
.navbar-nav li ul.dropdown-menu {
  top: 60px;
  border: none;
}

/* line 66, ../sass/style.scss */
/* line 245, ../sass/style.scss */
.navbar-nav li ul.dropdown-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 72, ../sass/style.scss */
/* line 252, ../sass/style.scss */
.navbar-nav li ul.dropdown-menu a:hover,
.navbar-nav li ul.dropdown-menu li.active a {
  background: #F3F3F3;
  color: #333;
}

/* line 77, ../sass/style.scss */
/* line 258, ../sass/style.scss */
.navbar-toggle .icon-bar {
  background: #FFFFFF;
}

/***************************
Navbar collapse
**************************/
/* line 86, ../sass/style.scss */
/* line 266, ../sass/style.scss */
.navbar-collapse.in ul.dropdown-menu {
  margin-top: -5px;
}

/* line 90, ../sass/style.scss */
/* line 271, ../sass/style.scss */
.navbar-collapse.in ul.dropdown-menu li a {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 96, ../sass/style.scss */
/* line 278, ../sass/style.scss */
.navbar-collapse.in ul.dropdown-menu li a:hover {
  background: #F3F3F3;
}

/* line 100, ../sass/style.scss */
/* line 283, ../sass/style.scss */
#main-body {
  margin-top: 60px;
}

/* line 104, ../sass/style.scss */
/* line 288, ../sass/style.scss */
#intro {
  position: relative;
}

/* line 108, ../sass/style.scss */
/* line 293, ../sass/style.scss */
p {
  font-size: 22px;
}

/* line 110, ../sass/style.scss */
/* line 298, ../sass/style.scss */
p#date {
  font-size: 30px;
  margin-top: 30px;
}

/***************************
Headers
**************************/
/* line 116, ../sass/style.scss */
/* line 307, ../sass/style.scss */
h1 {
  height: 45px;
  text-indent: -1000px;
  background: url("../images/header_sprites.png") no-repeat;
  margin: 20px 0;
}

/* line 314, ../sass/style.scss */
h1, h2, h3 {
  font-family: 'Pompiere', Arial;
}

/* line 124, ../sass/style.scss */
/* line 319, ../sass/style.scss */
#the-day-before h1 {
  background-position: 0 -50px;
}

/* line 128, ../sass/style.scss */
/* line 324, ../sass/style.scss */
#the-church h1 {
  background-position: 0 -100px;
}

/* line 132, ../sass/style.scss */
/* line 329, ../sass/style.scss */
#the-ceremony h1 {
  background-position: 0 -150px;
}

/* line 136, ../sass/style.scss */
/* line 334, ../sass/style.scss */
#transport h1 {
  background-position: 0 -400px;
}

/* line 140, ../sass/style.scss */
/* line 339, ../sass/style.scss */
#gorse-hill h1 {
  background-position: 0 -250px;
}

/* line 144, ../sass/style.scss */
/* line 344, ../sass/style.scss */
#the-wedding-breakfast h1 {
  background-position: 0 -600px;
}

/* line 148, ../sass/style.scss */
/* line 349, ../sass/style.scss */
#accommodation h1 {
  background-position: 0 -350px;
}

/* line 152, ../sass/style.scss */
/* line 354, ../sass/style.scss */
#gift-list h1 {
  background-position: 0 -300px;
}

/* line 156, ../sass/style.scss */
/* line 359, ../sass/style.scss */
#rsvp h1 {
  background-position: 0 0px;
}

/***************************
Images
**************************/
/* line 164, ../sass/style.scss */
/* line 367, ../sass/style.scss */
#logo {
  position: absolute;
  top: 80px;
  text-align: center;
  width: 100%;
}

/* line 171, ../sass/style.scss */
/* line 375, ../sass/style.scss */
#logo #date {
  margin-top: 20px;
  font-size: 16pt;
}

/* line 176, ../sass/style.scss */
/* line 381, ../sass/style.scss */
#logo img {
  max-width: 70%;
}

/* line 180, ../sass/style.scss */
/* line 386, ../sass/style.scss */
#intro_image {
  padding-top: 100px;
}

/* line 184, ../sass/style.scss */
/* line 391, ../sass/style.scss */
#intro_image img {
  width: 100%;
}
