<!DOCTYPE html>
<html>
  <head>
    <title>Danielle and Nick's Wedding Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-main="../js/main" src="../js/lib/require.js"></script>
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pompiere">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-fixed-top" role="navigation" id="my-nav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="intro-link" class="active"><a href="#intro">home</a></li>
          <li id="the-day-before-link"><a href="#the-day-before">the day before</a></li>
          <li id="the-church-link" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">the church <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="getting-to-the-church-link"><a href="#getting-to-the-church">getting to the church</a></li>
              <li id="the-ceremony-link"><a href="#the-ceremony">the ceremony</a></li>
            </ul>
          </li>
          <li id="the-reception-link" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">the reception <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li id="getting-to-the-reception-link"><a href="#getting-to-the-reception">getting to the reception</a></li>
              <li id="the-wedding-breakfast-link"><a href="#the-wedding-breakfast">the wedding breakfast</a></li>
            </ul>
          </li>
          <li id="accommodation-link"><a href="#accommodation">accommodation</a></li>
          <li id="the-day-after-link"><a href="#the-day-after">the day after</a></li>
          <li id="gift-list-link"><a href="#gift-list">gift list</a></li>
          <li id="rsvp-link"><a href="#rsvp">rsvp</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <div id="main">
      <div id="intro" class="section">
        <div id="logo">
          <img src="../images/logo.png">
          <div id="date">
            Saturday 19th July 2014
          </div>
        </div>
      </div>


      <div id="the-day-before" class="section scroll-clock" data-time="July 18, 2014 18:00">
        <div id="scroll-clock">
          <div id="clock-background">
            <img id="hour-hand" src="../images/scroll-clock/dani-and-nick-clock/hour-hand.png">
            <img id="minute-hand" src="../images/scroll-clock/dani-and-nick-clock/minute-hand.png">
          </div>
        </div>
        <div class="container">
          <div class="section-header">
            <h1>the day before</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Come and join us for a pre-wedding get together on Friday July 18 2014.</p>
              <p>This will take place at Doggett's Coat and Badge pub in Blackfriars, in Central London. It will be a great chance to get together and kick start the weekend celebrations.</p>
              <p>We’ve booked the top-floor of the pub with its own private terrace overlooking the Thames and we’d love it if you could join us. To twist your arm just a little more a BBQ dinner will be provided!</p>
              <p>
                Doggett's Coat and Badge<br />
                1 Blackfriars Bridge,<br />
                London<br />
                SE1 9UD
              </p>
              <p>Come and join us from 6pm</p>
            </div>
            <div class="col-md-6">
              <img src="../images/photos/doggetts.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="scroller-main" id="the-day-before-scroller-main"></div>

      <div id="getting-to-the-church" class="section scroll-clock" data-time="July 19, 2014 12:30">
        <div class="container">
          <div class="section-header">
            <h1>getting to the church</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>For guests travelling down from London we have hired a traditional London Routemaster Bus to help people get to the church. The bus will be collecting guests from a central London destination at 12:30pm.</p>
              <p>The exact location is still to be finalised, however, the bus will only be permitted to stop for a short time and will therefore require guests to arrive on time, or otherwise have an alternative route.</p>
              <p class="alert">Please let us know via the RSVP form if you'd like to get the wedding bus to the church</p>
              <p>The bus will be making a stop at Sanderstead station at 13:20 should anyone wish to make their own way that far.</p>
              <p>Sanderstead is the closest station (Purley Oaks is an alternative), but it is a half hour uphill walk from there. The 403 bus stops outside the station however and runs into Sanderstead village every 12 minutes or so.</p>
              <p>For those guests who will be driving there is a car park at All Saints church.</p>
            </div>
            <div class="col-md-6">
              <div id="getting-to-the-church-map" class="map-canvas"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroller-main" id="getting-to-the-church-scroller-main"></div>

      <div id="the-ceremony" class="section scroll-clock" data-time="July 19, 2014 14:00">
        <div class="container">
          <div class="section-header">
            <h1>the ceremony</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>The ceremony will take place at All Saints Church, in Sanderstead at 2pm, Saturday July 19. All Saints is a beautiful church dating back to the 13th century, and is found overlooking the roundabout in Sanderstead village.</p>
            </div>
            <div class="col-md-6">
              <img src="../images/photos/all-saints.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="scroller-main" id="the-ceremony-scroller-main"></div>

      <div id="getting-to-the-reception" class="section scroll-clock" data-time="July 19, 2014 16:30">
        <div class="container">
          <div class="section-header">
            <h1>getting to the reception</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>We have hired a traditional red London bus to transport guests from the church to the reception venue.</p>
              <p>The journey is a little long, at least an hour, but there will be refreshments provided, and activities to keep you entertained! We (Nick and Dani) are planning to get the bus from the church after the "I do's", and we hope that you'll be able to join us to kick start the celebrations.</p>
              <p>We don't anticipate any "comfort" stops however, so some may prefer to make their own way to the reception.</p>
              <p class="alert">Please let us know on the RSVP form if you'd like to get the wedding bus to the reception</p>
              <p>There is also plenty of parking available at Gorse Hill for those that will be driving.</p>
            </div>
            <div class="col-md-6">
              <div id="getting-to-the-reception-map" class="map-canvas"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="scroller-main" id="getting-to-the-reception-scroller-main"></div>

      <div id="the-wedding-breakfast" class="section scroll-clock" data-time="July 19, 2014 18:30">
        <div class="container">
          <div class="section-header">
            <h1>the wedding breakfast</h1>
          </div>
          <p>Given our love for all things food and our awareness that choosing a meal is a personal thing we thought it best to leave the choosing of the Wedding Breakfast meal to you!</p>
          <p>Simply choose your 3 course meal from the options below</p>
          <p class="alert">Please make sure that you include your menu choices when replying via the RSVP form, or we may be left to decide on your behalf!</p>

          <div id="menu">
            <div class="menu-section" id="starter">
              <h2 id="starter-header">Starter</h2>
              <ol type="A">
                <li>Grilled goats cheese on all butter pastry wafer with confit red onion and roquet and walnut pesto (v)</li>
                <li>Pressed free range chicken terrine wrapped in bacon with pimento and hazelnut vinaigrette</li>
                <li>Cod & Atlantic prawn tian topped with creme fraiche and served with Marie Rose dressing crispy leaves and a wedge of lemon</li>
              </ol>
            </div>
            <div class="menu-section" id="main">
              <h2>Main</h2>
              <ol type="A">
                <li>Pot roasted corn fed chicken with champ potato, wild mushroom, garlic and sweet sherry cream</li>
                <li>Teriyaki glazed duck breast, on a bed of pommes puree served with a plum and hoi sin sauce</li>
                <li>Open ravioli of sun-blushed tomato, baby spinach, basil, pinenuts and cream (v)</li>
              </ol>
            </div>
            <div class="menu-section" id="dessert">
              <h2>Dessert</h2>
              <ol type="A">
                <li>Classic Beaujolais creme brule with fresh raspberries and lemon shortbread</li>
                <li>A shot glass trio of vanilla creme brule, Belgian chocolate truffle and raspberry Eton mess</li>
                <li>Classic glazed tart au citron with clotted cream</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="scroller-main" id="the-wedding-breakfast-scroller-main"></div>

      <div id="accommodation" class="section scroll-clock" data-time="July 19, 2014 23:00">
        <div class="container">
          <div class="section-header">
            <h1>accommodation</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>We hope that you have a really enjoyable time at our wedding and that you don’t feel like you need to rush off anywhere. At Gorse Hill there are a number of accommodation options which will fit anyone’s budget. All options include breakfast on the Sunday and so it would be lovely to all be able to relax, and maybe recover, from the previous night over breakfast.</p>
              <p>To book your accommodation please contact the reservations team at Gorse Hill directly, either by phone or by email, quoting the name of the wedding party (Nicholas & Danielle), the room type you want, and any additional requirements you have</p>
              <p class="alert">
                Tel: (+44) 1483 286500<br />
                Email: gorsehill@deverevenues.co.uk<br />
                Reservations opening hours are Monday to Friday, 8:00am to 6:00pm
              </p>
              <p>All rooms have en-suite bathrooms, free internet access, a tea & coffee tray, an iron, a hairdryer and a TV.</p>
            </div>
            <div class="col-md-6">
              <div class='accommodation-section' id="mansion-house">
                <h2>Mansion House</h2>
                <p>The Mansion House is the main building in which the reception will take place. The guest rooms are mainly located on the second and third floors, though there are a couple of ground floor rooms too. Each room contains a safe.</p>
                <p class="price">&pound;89 per room
              </div>

              <div class='accommodation-section' id="the-courtyard">
                <h2>The Courtyard</h2>
                <p>The Courtyard building is just across the 'courtyard' from the Mansion House. The rooms are a little more 'conferency', but easier on the pocket, and a stone's throw from the main building.</p>
                <p class="price">&pound;69 per room
              </div>

              <div class='accommodation-section' id="the-lodge">
                <h2>The Lodge</h2>
                <p>The Lodge is a small building about a minute's walk down the driveway from the Mansion House. There are only a few rooms available here, and will be allocated on a first come first served basis!</p>
                <p class="price">&pound;49 per room
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="scroller-main" id="accommodation-scroller-main"></div>

      <div id="the-day-after" class="section scroll-clock" data-time="July 20, 2014 13:00">
        <div class="container">
          <div class="section-header">
            <h1>the day after</h1>
          </div>
          <p>On Sunday 20th, we plan to head to a local pub for lunch, and all are welcome to join. We’ll be flying off on our honeymoon shortly after, and then off to Australia, so it would be a great chance to say our goodbyes.</p>
          <p>The venue is yet to be decided, but it'll be within easy reach of Gorse Hill.</p>
        </div>
      </div>

      <div class="scroller-main" id="the-day-after-scroller-main"></div>

      <div id="gift-list" class="section">
        <div class="container">
          <div class="section-header">
            <h1>gift list</h1>
          </div>
          <p>We are so thrilled for those that are able to make our big day and share in our celebration and would much prefer your presence than your presents.</p>
          <p>However, for those that feel so inclined we have organised a gift registry with the Australian Department Store, Myer, to help start gathering some much needed essentials for our new life in Australia together.</p>
          <p>The gift list is available online <a href="http://www.myer.com.au/bridal-gift-registry">via this link</a> where you need to quote our registration number: 657352. You will see that gifts can then be purchased via email on giftregistry@myer.com.au where international credit cards are accepted.</p>
          <p>Alternatively our house together in Australia won’t be complete without a BBQ and some other larger items that we'd rather choose when we move into our new place, and so gifts of money (whatever the currency) would also be greatly appreciated.</p>
        </div>
      </div>

      <div class="scroller-main" id="gift-list-scroller-main"></div>

      <div id="rsvp" class="section">
        <div class="container">
          <div class="section-header">
            <h1>rsvp</h1>
          </div>
          <div id="rsvp-form">
            <div class="row">
              <div class="col-md-12">
                <form role="form" id="rsvp-form" class="form-horizontal" action="/rsvp" method="post">
                  <div class="form-group">
                    <div class="col-md-4">
                      <label for="guest-name">Your Name</label>
                      <input name="name" type="text" class="form-control" id="guest-name" placeholder="Please enter one name per entry">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-3">
                      <div class="radio">
                        <label>
                          <input type="radio" name="attending_friday" id="attending-friday-yes" value="yes">
                          I'm coming on the Friday evening
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="radio">
                        <label>
                          <input type="radio" name="attending_friday" id="attending-friday-no" value="no">
                          Sorry, can't make it on the Friday evening
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-3">
                      <div class="radio">
                        <label>
                          <input type="radio" name="attending" id="attending-yes" value="yes">
                          I'm coming to the wedding
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="radio">
                        <label>
                          <input type="radio" name="attending" id="attending-no" value="no">
                          Sorry, can't make it to the wedding
                        </label>
                      </div>
                    </div>
                  </div>
                  <div id="optional-sections">
                    <div class="form-group">
                      <div class="col-md-4">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="yes" name="transport_church">
                            I'd like to get the bus to the church
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-4">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="yes" name="transport_reception">
                            I'd like to get the bus to the reception
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" id="form-group-starter">
                      <div class="col-md-12">
                        <label for="starter">Starter</label>
                      </div>
                      <div class="col-md-2">
                        <div>
                          <label class="radio-inline">
                            <input type="radio" value="A" name="starter" /> A
                          </label>
                          <label class="radio-inline">
                            <input type="radio" value="B" name="starter" /> B
                          </label>
                          <label class="radio-inline">
                            <input type="radio" value="C" name="starter" /> C
                          </label>
                        </div>
                      </div>
                      <div class="col-md-10 menu-choice" id="menu-choice-starter">

                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <label for="main">Main</label>
                      </div>
                      <div class="col-md-2">
                        <div>
                          <label class="radio-inline">
                            <input type="radio" value="A" name="main" /> A
                          </label>
                          <label class="radio-inline">
                            <input type="radio" value="B" name="main" /> B
                          </label>
                          <label class="radio-inline">
                            <input type="radio" value="C" name="main" /> C
                          </label>
                        </div>
                      </div>
                      <div class="col-md-10 menu-choice" id="menu-choice-main">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <label for="dessert">Dessert</label>
                      </div>
                      <div class="col-md-2">
                        <div>
                          <label class="radio-inline">
                            <input type="radio" value="A" name="dessert" /> A
                          </label>
                          <label class="radio-inline">
                            <input type="radio" value="B" name="dessert" /> B
                          </label>
                          <label class="radio-inline">
                            <input type="radio" value="C" name="dessert" /> C
                          </label>
                        </div>
                      </div>
                      <div class="col-md-10 menu-choice" id="menu-choice-dessert">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-4">
                        <label for="dietary-requirements">Any dietary requirements?</label>
                        <textarea name="dietary_requirements" class="form-control" id="dietary-requirements"></textarea>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <div id="thankyou">
                  <h2>That's great!</h2>
                  <p>We look forward to seeing you on the day!</p>
                </div>
                <div id="sorry">
                  <h2>Sorry you can't make it</h2>
                  <p>We look forward to seeing you soon!</p>
                </div>
                <div id="error">
                  <h2>Sorry, there was an error</h2>
                  <p>Could you indicate your preferences by <a href="#" id="email-link">emailing us</a></p>
                </div>
                <div id="add-rsvp">
                  <button class="btn btn-default">RSVP for another guest</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroller-main" id="rsvp-scroller-main"></div>
    </div>
  </body>
</html>
