<!DOCTYPE html>
<html>
  <head>
    <title>Scroll Clock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script data-main="../js/main" src="../js/lib/require.js"></script>
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/scroll-clock.css" rel="stylesheet">
  </head>
  <body>
    <h1>Scroll Clock</h1>
    <div id="scroll-clock">
      <div id="clock-background">
        <img id="hour-hand" src="../images/scroll-clock/hour-hand.png">
        <img id="minute-hand" src="../images/scroll-clock/minute-hand.png">
      </div>
    </div>
    <div class="scroll-clock" data-time="13:00">
      <h1>1pm</h1>
    </div>
    <div class="scroll-clock" data-time="14:00">
      <h1>2pm</h1>
    </div>
    <div class="scroll-clock" data-time="16:00">
      <h1>4pm</h1>
    </div>
    <div class="scroll-clock" data-time="18:00">
      <h1>6pm</h1>
    </div>
    <div class="scroll-clock" data-time="21:00">
      <h1>9pm</h1>
    </div>
    <div class="scroll-clock" data-time="23:59">
      <h1>11.59pm</h1>
    </div>
  </body>
</html>
