body {
  font-family: 'Pompiere', Arial;
  color: #3E3F3D;
}

h1 {
  background: #D4EDF0;
  font-family: 'Pompiere', Arial;
}

.navbar {
  background: #D4EDF0;
}

.navbar a { 
  font-size: 16pt; 
  color: #333;
}

.navbar-nav li a {
  padding: 20px;
  color: #333333;
}

.navbar-nav li.active a {
  background-color: white;
}

.navbar-nav li.open a.dropdown-toggle {
  background-color: white;
}

.navbar-nav li ul.dropdown-menu {
  top: 60px;
  border: none;
}

.navbar-nav li ul.dropdown-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav li ul.dropdown-menu a:hover {
  background: #D4EDF0;
  color: #333;
}

#main-body {
  margin-top: 60px;
}

#intro {
  text-align: center;
}

#logo {
  margin-left: 15px;
}

p { font-size: 22px;}

p#date { font-size: 30px; margin-top: 30px;}

.section {
  padding-top: 60px;
  height: 400px;
}
