body {
  font-family: 'Pompiere', Arial;
  color: #3E3F3D;
}

.section {
  padding-top: 40px;
  background: url('../images/section_header_background.png') repeat-x;
  background-position: 0 60px;
}

.navbar {
  background: #D4EDF0;
  border-bottom: 0px;
}

.navbar a { 
  font-size: 16pt; 
  color: #333;
}

.navbar-nav li a {
  padding: 20px;
  color: #333333;
}

.navbar-nav > li > a:hover {
  background: #F3F3F3;
}

.navbar-nav li.active a {
  color: #333333;
  background-color: white;
}

.navbar-nav li.open a.dropdown-toggle {
  background-color: white;
}

.navbar-nav li ul.dropdown-menu {
  top: 60px;
  border: none;
}

.navbar-nav li ul.dropdown-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav li ul.dropdown-menu a:hover,
.navbar-nav li ul.dropdown-menu li.active a {
  background: #F3F3F3;
  color: #333;
}

.navbar-toggle .icon-bar {
  background: #FFFFFF;
}


/***************************
Navbar collapse
**************************/

.navbar-collapse.in ul.dropdown-menu {
  margin-top: -5px;
}

.navbar-collapse.in ul.dropdown-menu li a {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-collapse.in ul.dropdown-menu li a:hover {
  background: #F3F3F3;
}

#main-body {
  margin-top: 60px;
}

#intro {
  text-align: center;
}

#logo {
  margin-left: 15px;
}

p { font-size: 22px;}

p#date { font-size: 30px; margin-top: 30px;}


/***************************
Headers
**************************/
h1 {
  font-family: 'Pompiere', Arial;
  margin-top: 65px;
  height: 45px;
  margin-bottom: 65px;
  text-indent: -1000px;
  background: url('../images/header_sprites.png') no-repeat;
}

#the-day-before h1 {
  background-position: 0px -50px;
}

#getting-to-the-church h1 {
  background-position: 0px -100px;
}

#the-ceremony h1 {
  background-position: 0px -150px;
}

#getting-to-the-reception h1 {
  background-position: 0px -200px;
}

#gorse-hill h1 {
  background-position: 0px -250px;
}

#the-wedding-breakfast h1 {
  background-position: 0px -600px;
}

#accommodation h1 {
  background-position: 0px -350px;
}

#gift-list h1 {
  background-position: 0px -300px;
}

#rsvp h1 {
  background-position: 0px 0px;
}

/* #getting-to-the-reception h1 { */
/*   background: url('../images/header_sprites.png') no-repeat; */
/*   background-position: 150px -200px; */
/* } */
