/* line 1, ../sass/style.scss */
body {
  font-family: 'Pompiere', Arial;
  color: #3E3F3D;
}

.alert {
  background: #D4EDF0;
}

.background {
  background: url('../images/photos/parallax/intro.jpg') no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#main {
  z-index: 1;
}

#scroll-clock {
  right: 20px;
  top: 100px;
  z-index: 2000;
  position: absolute;

  #clock-background {
    background: url('../images/scroll-clock/dani-and-nick-clock/clock.png');
    height: 120px;
    width: 120px;
    position: relative;
  }

  #hour-hand {
    position: absolute;
    left: 50%;
    top: 30px;
  }

  #minute-hand {
    position: absolute;
    left: 50%;
    top: 16px;
  }

  &.fixed {
    position: fixed;
    top: 20px;
  }
}

/* line 18, ../sass/style.scss */
.section {
  padding-top: 100px;
  background: #fff;
  height: 525px;
}

#the-day-before-scroller-main {
  background: url("../images/photos/black_and_white_cross_legged.jpg");
  margin-top: 35px;
  height: 600px;
}

#getting-to-the-church-scroller-main {
  background: url("../images/photos/wooden_wall.jpg") no-repeat;
  height: 650px;
}

#the-ceremony-scroller-main {
  background: url("../images/photos/black_and_white_strolling.jpg") no-repeat;
  height: 700px;
}

#getting-to-the-reception-scroller-main {
  background: url("../images/photos/gorse-hill.jpg") no-repeat;
  height: 380px;
  background-size: 100%;
}

#the-wedding-breakfast-scroller-main {
  background: url("../images/photos/parallax/grass.jpg") no-repeat;
  height: 600px;
}

#accommodation-scroller-main {
  background: url("../images/photos/kissing_by_fountain.jpg") no-repeat;
  height: 600px;
}

#gift-list-scroller-main {
  background: url("../images/photos/parallax/trees.jpg") no-repeat;
  height: 700px;
}

.section#intro {
  background: url("../images/photos/intro1.jpg") no-repeat 50% 60px;
  height: 850px;
}

.section#the-wedding-breakfast {
  height: 900px;

  h2 {
    height: 45px;
    text-indent: -1000px;
    background: url("../images/header_sprites.png") no-repeat;
    margin: 20px 0;
  }

  #menu {
    li {
      font-size: 22px;
    }
  }

  #starter h2 {
    background-position: 0 -490px;
  }

  #main h2 {
    background-position: 0 -645px;
  }

  #dessert h2 {
    background-position: 0 -790px;
  }
}

.section#accommodation {
  height: 800px;

  h2 {
    height: 45px;
    text-indent: -1000px;
    background: url("../images/header_sprites.png") no-repeat;
    margin: 20px 0;
  }

  #mansion-house h2 {
    background-position: 0 -445px;
  }

  #the-courtyard h2 {
    background-position: 0 -690px;
  }

  #the-lodge h2 {
    background-position: 0 -745px;
  }
}

.section#rsvp {
  height: 1200px;

  #rsvp-form {
    font-size: 22px;
    margin-top: 30px;

    input {
      font-size: 20px;
    }

    #optional-sections {
      display: none;
      margin-top: 40px;
    }

    #form-group-starter {
      margin-top: 40px;
    }

    button {
      background: #D4EDF0;
      font-size: 22px;
    }

    #thankyou, #sorry, #error {
      display: none;
    }

    #add-rsvp {
      display: none;
    }
  }
}

/* line 22, ../sass/style.scss */
/* line 29, ../sass/style.scss */
.section-image {
  margin-bottom: 30px;
}

.section#the-day-before {
  height: 675px;
  position: relative;
}

.section#getting-to-the-church {
  height: 875px;

  .map-canvas {
    width: 100%;
    height: 400px;
  }
}

.section#getting-to-the-reception {
  height: 675px;
}

.map-canvas {
  width: 100%;
  height: 400px;
}

/* line 33, ../sass/style.scss */
.navbar {
  background: #D4EDF0;
  border-bottom: 0px;
}

/* line 38, ../sass/style.scss */
.navbar a {
  font-size: 16pt;
  color: #333;
}

/* line 43, ../sass/style.scss */
.navbar-nav li a {
  padding: 20px;
  color: #333333;
}

/* line 48, ../sass/style.scss */
.navbar-nav > li > a:hover {
  background: #F3F3F3;
}

/* line 52, ../sass/style.scss */
.navbar-nav li.active a {
  color: #333333;
  background-color: white;
}

/* line 57, ../sass/style.scss */
.navbar-nav li.open a.dropdown-toggle {
  background-color: white;
}

/* line 61, ../sass/style.scss */
.navbar-nav li ul.dropdown-menu {
  top: 60px;
  border: none;
}

/* line 66, ../sass/style.scss */
.navbar-nav li ul.dropdown-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 72, ../sass/style.scss */
.navbar-nav li ul.dropdown-menu a:hover,
.navbar-nav li ul.dropdown-menu li.active a {
  background: #F3F3F3;
  color: #333;
}

/* line 77, ../sass/style.scss */
.navbar-toggle .icon-bar {
  background: #FFFFFF;
}

/***************************
Navbar collapse
**************************/
/* line 86, ../sass/style.scss */
.navbar-collapse.in ul.dropdown-menu {
  margin-top: -5px;
}

/* line 90, ../sass/style.scss */
.navbar-collapse.in ul.dropdown-menu li a {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 96, ../sass/style.scss */
.navbar-collapse.in ul.dropdown-menu li a:hover {
  background: #F3F3F3;
}

/* line 100, ../sass/style.scss */
#main-body {
  margin-top: 60px;
}

/* line 104, ../sass/style.scss */
#intro {
  position: relative;
}

/* line 108, ../sass/style.scss */
p {
  font-size: 22px;
}

/* line 110, ../sass/style.scss */
p#date {
  font-size: 30px;
  margin-top: 30px;
}

/***************************
Headers
**************************/
/* line 116, ../sass/style.scss */
h1 {
  height: 45px;
  text-indent: -1000px;
  background: url("../images/header_sprites.png") no-repeat;
  margin: 20px 0;
}

h1, h2, h3 {
  font-family: 'Pompiere', Arial;
}

/* line 124, ../sass/style.scss */
#the-day-before h1 {
  background-position: 0 -50px;
}

/* line 128, ../sass/style.scss */
#getting-to-the-church h1 {
  background-position: 0 -100px;
}

/* line 132, ../sass/style.scss */
#the-ceremony h1 {
  background-position: 0 -150px;
}

/* line 136, ../sass/style.scss */
#transport h1 {
  background-position: 0 -400px;
}

/* line 140, ../sass/style.scss */
#getting-to-the-reception h1 {
  background-position: 0 -200px;
}

/* line 144, ../sass/style.scss */
#the-wedding-breakfast h1 {
  background-position: 0 -600px;
}

/* line 148, ../sass/style.scss */
#accommodation h1 {
  background-position: 0 -350px;
}

/* line 152, ../sass/style.scss */
#gift-list h1 {
  background-position: 0 -300px;
}

/* line 156, ../sass/style.scss */
#rsvp h1 {
  background-position: 0 0px;
}

/***************************
Images
**************************/
/* line 164, ../sass/style.scss */
#logo {
  position: absolute;
  top: 80px;
  text-align: center;
  width: 100%;
}

/* line 171, ../sass/style.scss */
#logo #date {
  margin-top: 20px;
  font-size: 16pt;
}

/* line 176, ../sass/style.scss */
#logo img {
  max-width: 70%;
}

/* line 180, ../sass/style.scss */
#intro_image {
  padding-top: 100px;
}

/* line 184, ../sass/style.scss */
#intro_image img {
  width: 100%;
}
