body {
  font-family: 'Pompiere', Arial;
  color: #3E3F3D;
  background: #EEEEEE;
}

.container {
  background: #FFFFFF;

  .clock {
    position: fixed;
    right: 10px;
    top: 87px;
    z-index: 1;
  }
}

.section {
  padding-top: 75px;
}

.section-header {
  background: #EEEEEE; 
  padding: 30px 0;
  position: relative;

}

.section-image {
  margin-bottom: 30px;
}

.navbar {
  background: #D4EDF0;
  border-bottom: 0px;
}

.navbar a { 
  font-size: 16pt; 
  color: #333;
}

.navbar-nav li a {
  padding: 20px;
  color: #333333;
}

.navbar-nav > li > a:hover {
  background: #F3F3F3;
}

.navbar-nav li.active a {
  color: #333333;
  background-color: white;
}

.navbar-nav li.open a.dropdown-toggle {
  background-color: white;
}

.navbar-nav li ul.dropdown-menu {
  top: 60px;
  border: none;
}

.navbar-nav li ul.dropdown-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav li ul.dropdown-menu a:hover,
.navbar-nav li ul.dropdown-menu li.active a {
  background: #F3F3F3;
  color: #333;
}

.navbar-toggle .icon-bar {
  background: #FFFFFF;
}


/***************************
Navbar collapse
**************************/

.navbar-collapse.in ul.dropdown-menu {
  margin-top: -5px;
}

.navbar-collapse.in ul.dropdown-menu li a {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-collapse.in ul.dropdown-menu li a:hover {
  background: #F3F3F3;
}

#main-body {
  margin-top: 60px;
}

#intro {
  position: relative;
}

p { font-size: 22px;}

p#date { font-size: 30px; margin-top: 30px;}


/***************************
Headers
**************************/
h1 {
  font-family: 'Pompiere', Arial;
  height: 45px;
  text-indent: -1000px;
  background: url('../images/header_sprites.png') no-repeat;
  margin: 20px 0;
}

#the-day-before h1 {
  background-position: 25px -50px;
}

#getting-to-the-church h1 {
  background-position: 25px -100px;
}

#the-ceremony h1 {
  background-position: 25px -150px;
}

#getting-to-the-reception h1 {
  background-position: 25px -200px;
}

#gorse-hill h1 {
  background-position: 25px -250px;
}

#the-wedding-breakfast h1 {
  background-position: 25px -600px;
}

#accommodation h1 {
  background-position: 25px -350px;
}

#gift-list h1 {
  background-position: 25px -300px;
}

#rsvp h1 {
  background-position: 25px 0px;
}

/***************************
Images
**************************/

#logo {
  position: absolute;
  top: 80px;
  text-align: center;
  width: 100%;
}

#logo #date {
  margin-top: 20px;
  font-size: 16pt
}

#logo img {
  max-width: 70%;
}

#intro_image {
  padding-top: 100px;
}

#intro_image img {
  width: 100%;
}
